body{
    margin: 0;
}
.container
.outbox{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom left,rgb(15, 212, 238),rgb(177, 23, 238));
    padding-top: 100px;
}
.subcontainer{
    background-color: aquamarine;
}