<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <div class="container">
        <div class="sub-container">
            <dev class="header">Contact <span class="small-text">Form</span></dev>
            <div class="input-feilds"><label for="fname">First name</label><input type="text" name="fname" id="fname" class="input"></div>
                <div class="input-feilds"><label for="lname">Last name</label><input type="text" name="lname" id="lname" class="input"></div>
                <div class="input-feilds"><label for="email">Email</label><input type="email" name="email" id="email" class="input"></div>
                <div class="input-feilds"><label for="gen">Gender </label>Male<input type="radio" name="gen" id="gen">Female<input type="radio" name="gen" id="gen"></div>
                <div class="input-feilds"><label for="msg">Message</label><textarea name="msg" id="msg" cols="30" rows="10" class="input"></textarea></div>
                <div class="input-field"><input type="submit" value="Send"></div>
        </div>
    </div>
</body>
</html>